* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 40px;
}

h2{
  margin: 20px 0;
}

.pixels{
  border: 1px solid #333;
  display: flex;
}
.pixel{
  border: 1px solid #999;
  width: 10px;
  height: 10px;
  display: inline-block;
}