* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: #efefef;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6{
  font-weight: normal;
  margin: 20px 0;
}

h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

.pixels{
  border: 1px solid #333;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pixel{
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  background: #fff;
}

.toolbar{
  background: #ddd;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding: 10px;
  margin:0 0 20px;
  border-bottom: 1px solid #bbb;
}

.toolbar-option label{
  margin:0 5px 0 0;
  vertical-align: middle;
}

input[type=number]{
  max-width: 50px;
  margin: 0 5px;
}

input[type=range],
input[type=checkbox]{
  vertical-align: middle;
}